body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #252525;
}

a {
    text-decoration: none;
    color: #252525;
}

.custom-btn {
    text-transform: uppercase;
    margin: 35px auto;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.29);
    cursor: pointer;
    background: #fff;
    font-size: 16px;
    width: 100%;
    position: relative;
}

.custom-btn.remove-margin {
    margin-bottom: 0;
}

.custom-btn.custom-btn-two {
    width: 100%;
}

.custom-btn.custom-btn-two.custom-btn-three {
    margin: 0 auto;

}

.custom-btn:hover {
    border-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.custom-btn:focus {
    outline: 0;
    font-weight: 700;
    border-width: 2px;
}

.center {
    text-align: center;
}

.active {
    font-weight: bold;
}


nav div div ul li a {
    text-decoration: none;
    display: block;
    padding: 5px;
    margin-right: 10px;
}

nav div div ul li a:nth-of-type(3) {
    margin-right: 0;
}

ul {
    padding-left: 0 !important;
}

li {
    list-style-type: none !important;
    text-decoration: none !important;
}

.avatar {
    height: 90px;
    border-radius: 25px;
    margin-right: 15px;
}